body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product-img {
  min-height: 100px;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.name {
  background: indigo;
  color: #fff;
  font-weight: bold;
}
/* black shade from 10-1 */
.black-10 {
  background: #f2f2f2;
}
.black-9 {
  background: #e6e6e6;
}
.black-8 {
  background: #9d9d9d;
}
.black-7 {
  background: #cccccc;
}
.black-6 {
  background: #bfbfbf;
}
.black-5 {
  background: #b3b3b3;
}
